.header {
    height: 5rem;
    background-color: $color-white;
    border-bottom: .1rem solid $color-primary;
    opacity: 1; 
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.1rem;

    &__logo,
    &__information {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        font-family: $GothamBold;
        font-size: 1.8rem;
        color: $color-primary;
        line-height: 1;
        letter-spacing: 0;
    }
}
