section {
    grid-column: 2/-1;
    padding: 2.1rem;
    height: 100%;
    position: relative;
}

.section {
    &__title,
    &__content {
        display: block;
        width: 100%;
        font-family: $GothamBook;
        color: $color-black;
        letter-spacing: 0;
    }
    &__title {
        margin-bottom: 4rem;
        font-size: 2.8rem;
    }
    &__content {
        font-size: 1.6rem;
    }
    &__button--absolute {
        position: absolute;
        top: 2.1rem;
        right: 2.1rem;
        z-index: 1;
        padding: 1.4rem .5rem;
        max-width: 13.3rem;
        border-radius: 2.5rem;
        width: 100%;
        box-shadow: .2rem .2rem 0 $color-primary;
        border: .1rem solid $color-primary;
        border-radius: 2.5rem;
        opacity: 1;
        transition: box-shadow 250ms ease;
        font-family: $GothamBold;
        font-size: 1.6rem;
        background-color: $color-secondary;
        color: $color-white;
        &:hover {
            box-shadow: .4rem .4rem 0 $color-primary;
            cursor: pointer;
        }
        &:focus-visible {
            outline: none;
        }
    }

}