section {
    padding: 2.1rem;
    height: auto;
    position: relative;
    grid-column: 1/-1;
    @media screen and (min-width: 1024px) {
        height: 100%;
        grid-column: 2/-1;
    }
}

.section {
    &__title,
    &__content {
        display: block;
        width: 100%;
        font-family: $GothamBook;
        color: $color-black;
        letter-spacing: 0;
    }
    &__title {
        margin-bottom: 4rem;
        font-size: 2.8rem;
    }
    &__content {
        font-size: 1.6rem;
    }
    &__button--absolute {
        position: absolute;
        top: 2.1rem;
        right: 2.1rem;
        z-index: 1;
        padding: 1.4rem .5rem;
        max-width: 13.3rem;
        border-radius: 2.5rem;
        width: 100%;
        box-shadow: .2rem .2rem 0 $color-primary;
        border: .1rem solid $color-primary;
        border-radius: 2.5rem;
        opacity: 1;
        transition: box-shadow 250ms ease;
        font-family: $GothamBold;
        font-size: 1.6rem;
        background-color: $color-secondary;
        color: $color-white;
        &:hover {
            box-shadow: .4rem .4rem 0 $color-primary;
            cursor: pointer;
        }
        &:focus-visible {
            outline: none;
        }
    }
    &__scroll {
        @media screen and (max-width: 1024px) {
            width: 100%;
            overflow-x: scroll;
            padding: 0 .3rem .3rem 0;
        }
    }
    &__table {
        width: 100%;
        background: $color-blue-light 0% 0% no-repeat padding-box;
        box-shadow: .25rem .25rem 0 $color-primary;
        border: .1rem solid $color-primary;
        border-radius: 2rem;
        padding: 2rem;
        font-family: $GothamBold;
        height: 100%;
        transition: height 300ms cubic-bezier(0.6, 0, 1, 1);
        @media screen and (max-width: 1024px) {
            width: calc(100% + 17rem);
        }
        th {
            padding: 0 0 1rem 0;
        }
        tr {
            font-size: 1.4rem;
            color: $color-primary;
            letter-spacing: 0;
            padding: 2rem 1rem;
        }
        td {
            font-size: 1.2rem;
            color: $color-black;
            letter-spacing: 0;
            padding: .5rem 1rem;
            text-align: center;
        }
    }
}