.sidebar {
    padding: 2.1rem;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: .1rem solid $color-primary;
    gap: 1rem;
    @media screen and (min-width: 1024px) {
        flex-direction: column;
    }
    &__title {
        font-family: $GothamMedium;
        font-size: 1.6rem;
        color: $color-primary;
        letter-spacing: 0;
    }
    &__button {
        background: $color-primary 0% 0% no-repeat padding-box;
        border-radius: 2.5rem;
        opacity: 1;
        width: 100%;
        padding: 1.1rem;
        font-family: $GothamBold;
        letter-spacing: 0;
        color: $color-white;
    }
    &__links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        @media screen and (min-width: 1024px) {
            gap: 3rem;
            flex-direction: column;
        }
    }
    &__link {
        font-family: $GothamMedium;
        letter-spacing: 0;
        color: $color-primary;
        line-height: 2rem;
        font-size: 1.6rem;

        &.active {
            color: $color-secondary;
        }
    }
}