.form {
    background: $color-blue-light 0% 0% no-repeat padding-box;
    box-shadow: .5rem .5rem 0 $color-primary;
    border: .1rem solid $color-primary;
    border-radius: 2rem;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    max-width: 40rem;
    width: calc(100% - 11rem);
    padding: 4rem 3.1rem 4rem 3.1rem;
    row-gap: 4.2rem;
    
    &__error {
        font-family: $GothamRoundedBold;
        color: $color-secondary;
        font-size: 1.6rem;
        letter-spacing: 0;
        margin-top: 2rem;
    }
    &__title {
        font-size: 3rem;
        font-family: $GothamRoundedBold;
        color: $color-primary;
    }
    &__label {
        font-family: $GothamBold;
        font-size: 1.6rem;
        color: $color-primary;
        letter-spacing: 0;
        margin-bottom: .9rem;
        line-height: 1;
    }
    &__input {
        background: $color-white 0% 0% no-repeat padding-box;
        box-shadow: .2rem .2rem 0 $color-primary;
        border: .1rem solid $color-primary;
        border-radius: 2.5rem;
        opacity: 1;
        min-height: 5rem;
        margin-bottom: 2.8rem;
        transition: box-shadow 250ms ease;
        font-size: 1.6rem;
        color: $color-gray-light;
        letter-spacing: 0;
        padding: 0 2.1rem;
        font-family: $GothamMedium;
        &:hover {
            box-shadow: .4rem .4rem 0 $color-primary;
            cursor: pointer;
        }
        &:focus-visible {
            outline: none;
        }
    }
    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    &__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1.5rem;
    }
    &__button,
    a {
        font-family: $GothamBold;
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1;
    }   
    &__button {
        padding: 1.4rem .5rem;
        max-width: 14.3rem;
        border-radius: 2.5rem;
        width: 100%;
        box-shadow: .2rem .2rem 0 $color-primary;
        border: .1rem solid $color-primary;
        border-radius: 2.5rem;
        opacity: 1;
        transition: box-shadow 250ms ease;
        &--secondary {
            background-color: $color-secondary;
            color: $color-white;
            &:hover {
                box-shadow: .4rem .4rem 0 $color-primary;
                cursor: pointer;
            }
        }
    }

}
