.form {
    background: $color-blue-light 0% 0% no-repeat padding-box;
    box-shadow: .5rem .5rem 0 $color-primary;
    border: .1rem solid $color-primary;
    border-radius: 20rem;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    max-width: 50rem;
    width: 100%;
    padding: 4rem 3.1rem 4rem 3.1rem;
    
    &__title {
        font-size: 3rem;
        font-family: $GothamRoundedBold;
    }
}
