// Fonts
@font-face {
    font-family: 'GothamBold';
    src: url('../../fonts/GOTHAM-BOLD.OTF') format('truetype');
}
@font-face {
    font-family: 'GothamBook';
    src: url('../../fonts/GOTHAM-BOOK.OTF') format('truetype');
}
@font-face {
    font-family: 'GothamMedium';
    src: url('../../fonts/GOTHAM-MEDIUM.OTF') format('truetype');
}
@font-face {
    font-family: 'GothamRoundedBold';
    src: url('../../fonts/GOTHAM-ROUNDED-BOLD.OTF') format('truetype');
}
@font-face {
    font-family: 'GothamRoundedBook';
    src: url('../../fonts/GOTHAM-ROUNDED-BOOK.OTF') format('truetype');
}
@font-face {
    font-family: 'GothamRoundedMedium';
    src: url('../../fonts/GOTHAM-ROUNDED-MEDIUM.OTF') format('truetype');
}
