// Generalize
* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

html {
    font-size: 10px;
}

#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 0;
    height: 100vh;
    @media screen and (min-width: 1024px) {
        grid-template-rows: auto 1fr 7rem;
        grid-template-columns: 18rem repeat(4, 1fr);
    }

    .container {
        width: 100%;
        height: 100%;
        grid-column: 1/-1;
        grid-row: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Settings
@import 'utilities/_utilities';
@import '_config/variables.scss';
@import 'layout/_layout';
@import 'sections/_sections';



