// Generalize
* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

html {
    font-size: 10px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Settings
@import 'utilities/utilities';
@import '_config/variables.scss';
@import 'sections/sections';



