// Generalize
* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

html {
    font-size: 10px;
}

#root {
    display: grid;
    grid-template-columns: 18rem repeat(4, 1fr);
    grid-template-rows: auto 1fr 7rem;
    gap: 0;
    height: 100vh
}

// Settings
@import 'utilities/_utilities';
@import '_config/variables.scss';
@import 'layout/_layout';
@import 'sections/_sections';



