// Fonts declaration
$GothamBold: 'GothamBold';
$GothamBook: 'GothamBook';
$GothamMedium: 'GothamMedium';
$GothamRoundedBold: 'GothamRoundedBold';
$GothamRoundedBook: 'GothamRoundedBook';
$GothamRoundedMedium: 'GothamRoundedMedium';

